﻿<template>
  <div class="collapsible">
    <div class="caption" @click="toggleCollapsed()">
      <span> {{ caption }} </span>
      <span v-if="openText" v-show="!collapsed">
        {{ openText }}
      </span>
      <span v-if="closedText" v-show="collapsed">
        {{ closedText }}
      </span>

      <!--<transition name="ease">
        <slot name="stateSymbol">
          <span style="display: inline; width: 2em">
            <span style="display: block; height: 0.3em; width: 2em">&OverBracket;</span>
            <span v-show="!collapsed" style="display: block; height: 0.3em; width: 2em; transform: translateY(-0.15em)">&coloneq;</span>
            <span style="display: block; height: 0.3em; width: 2em; transform: translateY(-0.3em)">&UnderBracket;</span>
          </span>
        </slot>
      </transition>-->
    </div>

    <transition name="slide">
      <div class="content" v-show="!collapsed">
        <slot name="content">
          <span class="default-collapsible-content"> Empty </span>
        </slot>
      </div>
    </transition>
  </div>
</template>

<script>
  import IfOuter from '../directives/if-outer.js'
  export default {
    name: 'Collapsible',
    directives: {
      IfOuter
    },
    props: {
      caption: {
        type: String,
        default: 'Click to show/hide'
      },
      defaultCollapsed: {
        type: Boolean,
        default: true
      },
      openText: String,
      closedText: String,
      transitions: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        collapsed: { ...this.defaultCollapsed }
      }
    },
    methods: {
      toggleCollapsed () {
        this.$data.collapsed = !this.$data.collapsed
      }
    }
  }
</script>

<style>
  .default-collapsible-content {
    color: gray;
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: visibility 1s ease;
  }

  .caption {
    background-color: whitesmoke;
    padding-left: 0.5em;
  }

  .content {
    padding-left: 0.75em;
    overflow: hidden;
  }

  .collapsible, .content {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
  }

  [transitions=true] {
    transition: visibility 0.5s;
  }

  .slide-enter-active {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  
  .slide-leave-active {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

  .slide-enter, .slide-leave-to {
    max-height: 0;
  }

  .slide-leave, .slide-enter-to {
    max-height: auto;
  }
</style>