﻿<template>
  <div>
    <h6 v-if="title"> {{ title }} </h6>
    <table>
      <tr v-if="validHeaders">
        <th v-for="header in headers"> {{ header }} </th>
      </tr>
      <tr v-for="item in root">
        <td v-if="item.isDirectory()">

        </td>
        <td v-else v-for="info in item"> {{ info }} </td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'DirectoryTable',
    props: {
      testProp: String
    },
    computed: {
      computedProp () {
        return 'computed'
      }
    },
    data () {
      return {
        testData: 'default test data'
      }
    },
    methods: {
      logTest () { }
    }
  }
</script>

<style>
</style>