<template>
  <div id="wrapper">
    <img id="logo" src="~@/assets/logo.png" alt="electron-vue" />
    <main>
      <div>
        <Collapsible :caption="'test collaspible'" :openText="'-'" :closedText="'/'">
          <template #content>
            <span>this text can be collapsed</span>
          </template>
        </Collapsible>
        <Table :headers="tableHeaders" :contents="tableContents"/>
        <button @click="openDialog()"> Pick file </button>
        <span>Selected directory: </span>
        <input v-model="root.path" placeholder="No selection" />
        <span>Directory view:</span>
        <div>
          <DirectoryItem :path="root.path" :children="root.children" :depth="root.depth" />
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'
  import DirectoryItem from './LandingPage/DirectoryItem'
  import Collapsible from './Collapsible'
  import Table from './Table'

  const remote = require('electron').remote
  const dialog = remote.dialog
  const fs = remote.require('fs')

  export default {
    name: 'landing-page',
    components: { SystemInformation, DirectoryItem, Table, Collapsible },
    data () {
      return {
        root: {
          path: null,
          children: [],
          depth: 0
        },
        tableHeaders: [
          'first',
          'second',
          'third'
        ],
        tableContents: [
          [1, 2, 3],
          [4, [['a', 'b'], ['c', 'd']]],
          [7]
        ]
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      openDialog () {
        this.$data.root.path = dialog.showOpenDialog({
          properties: ['openDirectory']
        })[0]
        fs.readdir(this.$data.root.path, (err, files) => {
          if (err) console.log(err)
          else {
            this.$data.root.children = files.map(file => {
              return {
                path: file,
                children: [],
                depth: 1
              }
            })
          }
        })
      }
    }
  }
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

#wrapper {
  background: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255, 1) 40%,
    rgba(229, 229, 229, 0.9) 100%
  );
  height: 100vh;
  padding: 60px 80px;
  width: 100vw;
}

#logo {
  height: auto;
  margin-bottom: 20px;
  width: 420px;
}

main {
  display: flex;
  justify-content: space-between;
}

.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt {
  color: #42b983;
  background-color: transparent;
}
</style>
