﻿<template>
  <div>
    <h5>Test table</h5>
    <table>
      <template v-if="validHeaders">
        <tr>
          <th v-for="header in headers"> {{ header }} </th>
        </tr>
      </template>
      <tr v-for="row in contents">
        <td v-for="col in row">
          <Table v-if="shouldExpand(col)" :contents="col"/>
          <template v-else>
            {{ col }}
          </template>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'Table',
    props: {
      headers: Array,
      contents: Array
    },
    computed: {
      validHeaders () {
        if (!(this.headers && Array.isArray(this.headers) && this.headers.length)) return false

        for (var header of this.headers) {
          if (typeof header !== 'string') return false
        }
        return true
      }
    },
    methods: {
      shouldExpand (data) {
        if (!Array.isArray(data)) {
          console.log('!Array, data:', data)
          return false
        }
        for (var datum of data) {
          if (!Array.isArray(datum)) {
            console.log('!Array, datum: ', datum)
            return false
          }
        }
        return true
      }
    }
  }
</script>

<style>
  td > div > table {
    border: 2px solid black;
  }

  table, th, td {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: whitesmoke;
  }
</style>