<template>
  <p :path='path' :children='children' :text-indent='depth'>
    <span> {{ name(path) }} </span>
    <template v-for='child in children'>
      <DirectoryItem v-if='child.directory' :key="child.path"/>
      <p v-else :path='path' :key="child.path"> {{ name(child.path) }} </p>
    </template>
  </p>
</template>

<script>
  export default {
    props: {
      children: Array,
      path: String,
      depth: Number
    },
    methods: {
      name (path) {
        // console.log('this.$data.path: ', this.$data.path)
        // if (this.$data.path) console.log('this.$data.path.match(/[/\\].*[/\\]?$/): ', this.$data.path.match(/[/\\].*[/\\]?$/))

        return path ? path.match(/^[^.\n]+((?!\.[^.\n]*$)(\.[^.\n]*))*/)[0] : ''
        // this.$data.path.match(/[/\\].*[/\\]?$/)[0] : ''
        // return 'this.children: ' + this.children
      }
    }
  }
</script>

<style>
</style>